<svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
    <rect width="500" height="500" fill="white" stroke="grey" stroke-width="1"  />
    <g *ngFor="let boardRow of board; let row = index">
        <g *ngFor="let block of boardRow; let col = index">
        <rect
            [attr.x]="col * 50" 
            [attr.y]="row * 50" 
            width="50" 
            height="50" 
            [attr.fill]="block.color" 
            stroke="grey" 
            stroke-width="1"  
        />
        </g>
    </g>
    <rect
    [attr.x]="character.x * 50" 
    [attr.y]="character.y * 50" 
    [attr.width]="50" 
    [attr.height]="50" 
    fill="blue" 
    stroke="grey" 
    stroke-width="0"  
/>
</svg>